<div class="row-fluid">
  <div class="span4">
 <h2>Navigation Bar</h2>
  </div>
  <div class="span8">
<h1>Welcome to DIBS for Kids!</h1>
<p>You can <a href="#">Log-In</a>, or <a href="#">Sign-up for an Account!</a>!</p>
</div>
</div>